{% extends "base.twig" %}

{% block content %}

{% include 'partial/marquee.twig' %}

	<section class="blog">
        <div class="container-fluid">
            <div class="container-xxl">
                <div class="row titlerow">
                    <div class="col-12">
                        <h1>
                            {{ title }}
                        </h1>
                    </div>
                </div>
                <div class="row textrow">
                    <div class="col-12">
                        <p>
                           {{post.content}}
                        </p>
                    </div>
                </div>
                <div class="row categoriesrow">
                    <ul>
                        {% for category in categories_out %}
                            <li>
                                <a href="{{current_page}}?c={{ category.slug }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row blogposts" data-masonry='{"percentPosition": true }'>
                    {% for post in blogposts %}
                        <div class="col-12 col-md-6 g-5">
                            <div class="card mb-2 border-0  ">
                               
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{ post.link }}">
                                                <img src="{{ post.image }}" class="card-img-top" alt="{{ post.title }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h3 class="card-title">
                                                <a href="{{ post.link }}">{{ post.title }}</a>
                                            </h3>
                                        </div>
                                        <div class="col-6 ">
                                            <p class="card-text text-end">
                                                {{ post.date }}
                                            </p>
                                        </div>  
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}          
                </div>
            </div>
        </div>
    </section>
{% endblock %}
