<section class="threeecolcont">
    <div class="container-fluid">
        <div class="container-xxl">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-4">
                    <h2>
                        {{ fields.title}}
                    </h2>
                </div>
                <div class="col-12 col-md-4">
                    <h3>
                        {{ fields.subtitle}}
                    </h3>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{image.url}}" srcset="{{image.srcset}}" alt="{{image.alt}}" class="img-fluid" />
                </div>
            </div>
        </div>        
    </div>
</section>